<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h1>Create New Post</h1>
    <form action="/instagram" method="post">
        <input type="text" name="username" placeholder="enter username"/> <br>
        <textarea name="caption" rows="5" cols="20" placeholder="enter the caption"></textarea> <br>
        <input type="text" name="following" placeholder="following"/> <br>
        <input type="text" name="followers" placeholder="followers"/> <br>
        <button>Post</button>
    </form>
</body>
</html>